body {
  background: url("https://wallpapercave.com/wp/J3Z1dqo.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-content {
  text-align: center;
}

h1 {
  font-size: 48px;
  font-family: 'Monaco', monospace;
  color: #fff;
  margin-bottom: 48px;
}
